extends layouts/layout.pug

block head
    title= "Blog"

block content
    .container
        br
        div(style="margin-inline:auto;margin-top:30px")
            h3 Bu sayfa hazırlık aşamasındadır.
