extends layouts/layout.pug

block head
    title= "About"
    link(rel="stylesheet" type="text/CSS" href="/css/index.css")

block scripts


block content
    .container
        p I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs. 
        p My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies.
        br
        h2 What I'm Doing
        .grid-container
            .grid-item
                img(class="box-icon" src="/images/icon-design.svg")
                div
                    h3(align="left") Web Design
                    p(align="left") The most modern and high-quality design made at a professional level.
            .grid-item
                img(class="box-icon" src="/images/icon-dev.svg")
                div
                    h3(align="left") Development
                    p(align="left") The most modern and high-quality design made at a professional level.
            .grid-item
                img(class="box-icon" src="/images/icon-app.svg")
                div
                    h3(align="left") Mobile Apps
                    p(align="left") The most modern and high-quality design made at a professional level.
            .grid-item
                img(class="box-icon" src="/images/icon-photo.svg")
                div
                    h3(align="left") Graphic Design
                    p(align="left") The most modern and high-quality design made at a professional level.