extends layouts/layout

block head
    title= "Resume"
    link(rel="stylesheet" type="text/CSS" href="/css/resume.css")

block content
    .container
        .resume-grid
            .first
            div
                h2 Education
            .first 
                .bullet
            .education-card
                .card-title İLköğretim
                .card-date 00/00/1675
                .card-description fdgfdsgfdsgfdsgfdsgfdsgfdsgfdsgfd gfdsgfdgfds trtrewtrewt trewtrewtrew trewtrewtrew
            .first 
                .bullet
            .education-card
                .card-title İLköğretim
                .card-date 00/00/1675
                .card-description fdgfdsgfdsgfdsgfdsgfdsgfdsgfdsgfd gfdsgfdgfds trtrewtrewt trewtrewtrew trewtrewtrew
            .first 
                .bullet
            .education-card
                .card-title İLköğretim
                .card-date 00/00/1675
                .card-description fdgfdsgfdsgfdsgfdsgfdsgfdsgfdsgfd gfdsgfdgfds trtrewtrewt trewtrewtrew trewtrewtrew

        h1 My Skills
        .skills
            .skill-title Veb Design
            .skill 
                div(style="width: 80%;")
            .skill-title Veb Design
            .skill 
                div(style="width: 80%;")
            .skill-title Veb Design
            .skill 
                div(style="width: 80%;")
