extends ../layouts/layout

block head
    title= "Cube animate"
    link(rel="stylesheet" type="text/CSS" href="/css/cube.css")

block scripts
    script(src="/js/cube.js")

block content
    .container
        .cube-container
            .parameters
                .title Left
                .title Right
                .title RotateX
                .title RotateY
                input(id="X" type="number" size="3")
                input(id="Y" type="number" size="3")
                input(id="rX" type="number" size="3")
                input(id="rY" type="number" size="3")
            .cube-base
                .move
                    img(src="/images/move.svg" width="32")
                .cube
                    .side.front
                        img(src="/images/c-2.svg")
                    .side.back
                        img(src="/images/net.svg")
                    .side.left
                        img(src="/images/node.svg")
                    .side.right
                        img(src="/images/c-1.svg")
                    .side.top
                        img(src="/images/sql.svg")
                    .side.bottom
                        img(src="/images/html.svg")
