.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0px;
}

.grid-item {
    border-radius: 20px;
    box-shadow: inset 2px 1px 2px var(--bordercolor);
    text-align: center;
    height: 120px;
    display: flex;
    align-items: start;
    padding: 20px;
}

.box-icon{
    width: 15%;
    aspect-ratio: 1/1;
    margin: 20px;
}